.DS_Store
*.swp
*.swo
*.pid.lock
config/database.yml
config/email.yml
config/application.yml
config/settings.yml
config/couchdb.yml
storage/*.*
config/server/*.*
notes
development.sql
development_structure.sql
schema.rb
*~
mockups
rerun.txt
nbproject
log/*
.idea/*
.ruby-version
vendor/plugins/htn/*
config/*.yml
tmp/*
last_sequence.txt
erl_crash.dump
.project
.byebug_history
