# SMTP Settings
smtp_settings:
  production:
    address: "smtp.office365.com"
    port: 587
    user_name: "<%= ENV['PROD_EMAIL_ADDRESS'] %>"
    password: "<%= ENV['PROD_EMAIL_PASSWORD'] %>"
    authentication: "login"
    enable_starttls_auto: true
    domain: "pedaids.org"
  
  development:
    address: "smtp.office365.com"
    port: 587
    user_name: "<%= ENV['DEV_EMAIL_ADDRESS'] %>"
    password: "<%= ENV['DEV_EMAIL_PASSWORD'] %>"
    authentication: "login"
    enable_starttls_auto: true
    domain: "pedaids.org"
  
  test:
    address: "smtp.office365.com"
    port: 587
    user_name: "<%= ENV['TEST_EMAIL_ADDRESS'] %>"
    password: "<%= ENV['TEST_EMAIL_PASSWORD'] %>"
    authentication: "login"
    enable_starttls_auto: true
    domain: "pedaids.org"

