<div class="max-w-8xl mx-auto space-y-8">
  <!-- Stats Overview -->
  <%= render "stats_overview" %>

  <!-- System Diagnostics -->
  <%= render "system_diagnostics" %>

  <div id="sync-modal" class="fixed inset-0 hidden bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-96 text-center">
      <h2 id="sync-modal-title" class="text-lg font-semibold mb-3">Status</h2>
      <p id="sync-modal-message" class="text-gray-700 mb-5">...</p>
      <button id="sync-modal-close" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
        Close
      </button>
    </div>
  </div>
  
</div>

<!-- Scripts -->